@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import "tailwindcss";

/* Enable class-based dark mode: use `.dark` anywhere up the tree */
@custom-variant dark (&:where(.dark, .dark *));

@utility font-pretendard {
  font-family: "Pretendard", sans-serif;
}

@utility font-zen {
  font-family: "Zen Dots", sans-serif;
}

@theme {
  /* 375px = 23.4375rem; keep units consistent with defaults (rem) */
  --breakpoint-xs: 23.4375rem;
}

@layer utilities {
  /* For Edge/IE */
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    @apply hidden;
  }

  /* For Chrome/Safari (WebKit) */
  input[type="password"]::-webkit-textfield-decoration-container,
  input[type="password"]::-webkit-contacts-auto-fill-button,
  input[type="password"]::-webkit-caps-lock-indicator,
  input[type="password"]::-webkit-credentials-auto-fill-button {
    @apply hidden;
  }
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
